 @charset "UTF-8";
 
 body {
            background-color: rgb(77, 77, 77);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {

            color: aliceblue;
        }

        h2 {
            color: brown;
        }

        p {
            text-align: justify;
        }