@charset "UTF-8";

body {
            font-family: Arial, sans-serif;
            background: #dfdfdf;
            padding: 20px;
        }

        header h1 {
            font-size: 27px;
        }

        header {
            background: #ffffff;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 8px;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.401);
        }

        input {
            width: 98%;
            padding: 8px;
            margin: 5px 0;
        }

        button {
            padding: 10px 15px;
            margin-top: 10px;
            margin-bottom: 15px;
            cursor: pointer;
        }

        footer {
            background: #ffffff;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 8px;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.401);
        }