@charset "UTF-8";

 *{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
 }
 body {
    background-image: linear-gradient(to top, #EDAA25, #B7BF99);
    background-attachment: fixed;
 }
 main {
    background-color: white;
    border-radius: 15px; /*Fez a borda que era quadrada virar um "circulo"*/
    box-shadow: 5px 5px 15px #614610b9; /*O primeiro ele é quando ele vai pro lado O segundo quando ele vai pra baixo O terceiro o quando ele vai espalhar*/ 
    width: 600px; /*Está fazendo ''diminuir'' o tamanho do texto */
    padding: 20px; /*Está dando um espaço para que a letra não fique na borda*/
    margin: auto; /*Está centralizando tudo que está no main no centro do site*/
   /* margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;*/
 }

 h1 {
    color: #C43302;
    text-align: center; /*Alinha o h1 para o centro do texto*/
    text-shadow: 1px 1px 2px #6d4e0fcc; /*Faz uma sombra deixando a letra mais "grande"*/
 }
 h2 {
    color: #0A7373;
 }
 p { 
    text-align: justify; /*Da uma distancia entre os textos*/
 }